

.buttoncancel
{
  margin-top: 5%;

 

}

.submiton
{
  margin-top: 5%;
}

.modal-title
{
  color: blue;
}

.dropdownshow
{
  height: 90px;
  margin-top: 5px;
  align-items: flex-end;

}

.creativeName
{
  box-sizing: border-box;
  }


label{
  font-size: 12px;
  font-weight: bold;
}
